body {
        background-color: rgb(233, 196, 106);
        color: rgba(38, 70, 83);
        font-family: monospace;
        font-size: 100%;
        line-height: 150%;
        cursor: wait    ;
}



.title {
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    text-shadow: 2px 2px 5px black;
    border-radius: 10px;  
    box-shadow: 0px 0px 10px black inset;
    text-transform:uppercase;
    }

.header-image {
    height: auto;
    box-shadow: 0px 0px 50px black ;
}


footer {
        font-size: 80%;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position:fixed;  
}

.container-1 div {
    padding: 15px;
}

.container-1 button{
    height: 40px;
    width: 180px;
    background-color: rgb(38, 70, 83);
    color:rgb(233, 196, 106);
    transition: background-color 1s;
}

.container-1 button:hover {
    background-color: rgb(233, 196, 106);
    color: rgb(38, 70, 83);
    
}

.container-1 button a {
    color:rgb(233, 196, 106);
    text-decoration: inherit;
    font-size: 200%;
    filter: 
} 

.container-1 button a:hover {
    color:rgb(38, 70, 83);
    text-decoration: inherit;
    
} 


.header-image img {
    width: 100%;
}
