body {
        background: radial-gradient(circle at center, white 0%, red 100%);
        color: black;
        font-family: monospace;
        font-size: 100%;
        line-height: 150%;}

header {
        font-family: "";
}

footer {
        color: #000000;
        font-size: 80%;
}

h1 {color: green}



#bandsummary {background-color: rgba(0, 255, 0)}

.logo{
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
}

nav {
}

.title {
    background-color: blue
    }
